<header>
  <h1><%= link_to 'MPGI Reads', root_path %></h1>
  <% if controller_path.split('/').first == 'admin' %>
    <ul>
      <% if user_signed_in? %>
        <li>
          <%= current_user.name %>
        </li>
        <li>
          <%= link_to 'Salir', destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to 'Iniciar sesión', new_user_session_path %>
        </li>
      <% end %>
    </ul>
  <% end %>
</header>
